body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
.header {
	height: 122px;
    border-bottom: 1px solid #dddddd;
	background-color: #fafafa;
}
/*GOOGLE LOGO AT THE BOTTOM*/

.imgform #img img {
    width: 130px;
    height: 53px;
	margin: 18px 0px 0px 9px;
}

/*SEARCH FORM*/

.imgform div {
	display: inline-block;
}
form input {
	width: 585px;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    margin: 0 0 0 10px;
    position: relative;
    top: 35px;
    text-align: left;
    padding-left: 10px;
    font-size: 1em;
	box-shadow: 0px 1px 4px #dddddd;
}
form input:focus {
	box-shadow: 0px 2px 8px #dddddd;
	outline: none;
}
form input:hover {
	box-shadow: 0px 2px 8px #dddddd;
	outline: none;
}
button {
	height: auto;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
	right: 15px;
    top: 42px;
    padding: 5px 10px 5px 10px;
    border-width: 0;
    background-color: inherit;
}

/*NAVBAR BELOW THE SEARCH FORM*/

.navbar {
	position: relative;
    top: -90px;
    left: 145px;
    display: block;
    max-width: 620px;
}
.navbar a {
	text-decoration: none;
	color: #777;
	font-size: 0.8em;
}
.navbar a:hover {
	color: black;
}
.navbar ul {
	margin: 0;
	padding: 0;
}
.navbar ul li {
	display: inline-block;
	margin-left: 15px;
}
.lnav {
	float: left;
    position: relative;
    top: 60px;
    margin: 0;
    padding: 0;
    margin-left: -8px;
}
.rnav {
	float: right;
    position: relative;
    top: 60px;
    margin-right: 25px;
}
.lnav li, .rnav li {
	height: 30px;
    padding: 0;
    width: 50px;
    text-align: center;
}
.lnav #active {
	border-bottom: 3px solid #4285f4;
    font-weight: bold;
}
.lnav #active a {
	color: #4285f4;
}
#special a {
	padding: 0px 16px;

}
#special a:hover {
	color: black;
    border: 1px solid #bdbdbd;
    padding: 5px 15px;
    border-radius: 2px;
    box-shadow: 0px 3px 9px #dddddd;
    background-color: #f8f8f8;
}
/*right icons block*/

.ricons {
	position: absolute;
    right: 20px;
    top: 10px;
    margin: 0;
    padding: 0;
}
.ricons ul {
	padding: 0;
	margin: 0;
}
.ricons li {
	display: inline-block;
	padding: 10px;
}
img#si {
	height: 17px;
    width: 17px;
    padding: 1px;
    position: relative;
    top: 4px;
}
img#bell {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    background-color: #757575;
    padding: 3px;
    position: relative;
    top: 6px;
}
img#last {
	position: relative;
    top: 8px;
    border-radius: 20px;	
}

/*SEARCH RESULTS SECTION*/
.main {
 	padding-top: 20px;
    max-width: 600px;
    margin-left: 170px;
    font-size: 0.9em;

}
/*attempt to sizing divs*/
.main div {
	margin: 0 0 15px 0;
}
.main p {
	margin: 0;
	color: #545454;
	font-size: small;
}
.main div .ptitle {
	margin: 0;
}
div .link {
	margin-bottom: 4px;
}
/*end section*/
#nor {
	font-size: 0.9em;
    color: #777;
}
.ptitle a {
	text-decoration: none;
	font-size: 18px;
}
.ptitle a:hover {
	text-decoration: underline;
}
span.ads {
	font-size: 0.9em;
    border: 1px solid #006621;
    color: #006621;
    border-radius: 3px;
    padding: 0px 2px;
	margin-right: 3px;
}
.link p {
	color: #006621;
	font-size: 1em;
}
.date {
	color: #828282;
}
.phone {
	color: #545454;
	padding-left: 5px;
}
/*last ad at the bottom of search results, list*/
.description ul li {
	display: inline-block;
	padding-right: 7px;
}
.description ul {
	padding: 0;
	margin: 4px 0 0 0;
}
.description ul li a {
	text-decoration: none;
}
.description ul li a:hover {
	text-decoration: underline;
}
#thead {
	font-size: 1.3em;
	color: #272727;
}	
